
body{
    margin: 0;
    padding: 0;
}

div{
    background-color: blue;
    color: white;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: rgb(18, 248, 237);
}

