*{
    margin: 0px;
    padding:0px;
}

html , body{
    font-family: Arial, Helvetica, sans-serif;
    min-height:100%;
    background-color:darkgray;
}

header{
    background-color:black;
    color:white;
    text-align:center;
}

header > h1 {
    padding-top:50px;
    font-size: 10vw;
    font-variant:small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header > p {
    padding-bottom:50px;
}

a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}

section{
    padding-top:10vh;
    padding-bottom:10vh;
    line-height:2em;
    padding-left:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 4.5vw;
}

section.normal{
    background-color:white;
    color:black;
}

section.imagem{
    background-color:dark;
    color:white;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color:rgba(44, 34, 34, 0.425);
    width:400px;
}

footer{
    background-color:black;
    text-align:center;
    color:white;
    padding:10px;

}